/* Start General styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;

	padding: 0 5%;

	--primary-text-color: #333333;
	--secondary-text-color: #7D7789;
	--color-first: #86A8E7;
	--color-second: #E1BFD3;
	--color-third: #7AE1DB;

	background: linear-gradient(196.1deg, #E1BFD3 20.96%, rgba(134, 168, 231, 0.95) 49.24%, #7AE1DB 73.91%);
}

.container {
	margin: 0px auto;
	max-width: 1310px;
	overflow: hidden;
	min-width: 375px;
}

.resume {
	min-height: 100vh;
	background-color: #fff;
	margin: 5% auto;
	padding: 70px;
	min-width: 375px;
	max-width: 1440px;
	border-radius: 125px;
	box-shadow: 10px 7px 20px rgba(0, 0, 0, 0.05), 7px 1px 15px rgba(0, 0, 0, 0.2);
}

.resume-block {
	margin-bottom: 45px;
}

@media screen and (max-width: 576px) {

	.resume {
		padding: 0px 12px 12px 0px;
		border-radius: 54px;
		box-shadow: 10px 7px 20px rgba(0, 0, 0, 0.05);
	}
}

/* End General styles */

/* Start Head Content styles */

.head-content {
	display: grid;
	grid-template-areas: 
		"image header"
		"image main"
		"image main";
}

.head-content__image {
	margin-right: 45px;
	grid-area: image;
}

.head-content__image img {
	border-radius: 87px;
	max-width: 100%;
	min-width: 185px;
}

.head-content__header {
	color: var(--primary-text-color);
	font-weight: 600;
	font-style: italic;
	letter-spacing: 0.25em;
	font-size: 2.125rem;
	padding-top: 50px;
	grid-area: header;
	text-transform: uppercase;
}

.head-content__main {
	grid-area: main;
}

.contancts__header {
	margin: 22px 0;
}

.header-line {
	color: var(--color-first);
	font-size: 1.25rem;
	font-weight: 600;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	position: relative;
}

.header-line::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 190px; 
	width: 565px; 
	height: 2px;
	background-color: var(--primary-text-color); 
	opacity: 0.2;
}

.header-line--short::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 190px; 
	width: 300px; 
	height: 2px;
	background-color: var(--primary-text-color); 
	opacity: 0.2;
}

.contacts {
	margin-bottom: 22px;
}

.contacts__item {
	display: flex;
	color: var(--primary-text-color);
	font-size: 1.25rem;
	align-items: center;
	text-decoration: none;
}

.contacts__item:not(:last-child) {
	margin-bottom: 12px;
}

.contacts__item img {
	margin-right: 12px;
}

.contacts__item a {
	text-decoration: none;
	color: var(--primary-text-color);
}

.about__header {
	margin: 22px 0;
}

.about__text {
	color: var(--primary-text-color);
	font-size: 1.25rem;
	font-weight: 300;
	font-style: italic;
}

.about__text:not(:last-child) {
	margin-bottom: 10px;
}

@media screen and (max-width: 576px) {

	.head-content {
		grid-template-areas: 
			"image header"
			"main main"
			"main main";
	}

	.head-content__image {
		background: var(--color-second);
		padding: 0px 30px 30px 0px;
		border-bottom-right-radius: 24px;
		margin-right: 10px;
	}

	.head-content__image img{
		border-top-right-radius: 24px;
		border-bottom-right-radius: 24px;
		border-bottom-left-radius: 0px;
	}

	.head-content__header {
		font-size: 1rem;
		margin-top: 90px;
	}

	.head-content__header span{
		display: inline-block;
		margin-left: 20px;
	}

	.header-line {
		font-size: 1rem;
	}

	.header-line::after {
		top: 50%;
		left: 145px; 
		width: 565px; 
	}

	.contacts {
		padding-left: 12px;
	}

	.about {
		padding-left: 12px;
	}

	.about__text {
		font-size: 1rem;
		text-align: center;
	}

}

/* End Head Content styles */

/* Start Primary styles */

.skills {
	display: flex;
}

.skills__list {
	list-style-type: none;
	font-size: 1.25rem;
}

.skills__list li:nth-child(1n+1) {
	background: url(./assets/icons/markers/green.svg) left no-repeat;
	padding: 0px 0px 0px 35px;
}

.skills__list li:nth-child(2n+1) {
	background: url(./assets/icons/markers/blue.svg) left no-repeat;
	padding: 0px 0px 0px 35px;
}

.skills__list li:nth-child(3n+1) {
	background: url(./assets/icons/markers/pink.svg) left no-repeat;
	padding: 0px 0px 0px 35px;
}

.skills__header {
	margin-bottom: 22px;
}

.skills__list li:not(:last-child) {
	margin-bottom: 12px;
}

.skills__hard {
	flex: 0 0 470px;
	margin-right: 90px;
}

@media screen and (max-width: 576px) {
	.skills {
		flex-direction: column;
		padding-left: 12px;
	}
	.skills__hard {
		flex: 1;
		margin: 0px 0px 45px 0px;
	}
}
/* End Primary styles */