/* Start General styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	/* line-height: 1.5; */

	padding: 0 100px;

	--primary-text-color: #333333;
	--secondary-text-color: #7D7789;
	--color-first: #86A8E7;
	--color-second: #E1BFD3;
	--color-third: #7AE1DB;

	background: linear-gradient(196.1deg, #E1BFD3 20.96%, rgba(134, 168, 231, 0.95) 49.24%, #7AE1DB 73.91%);
}

.container {
	margin: 0 auto;
	max-width: 1310px;
}

.fh {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.fv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.resume {
	background-color: #fff;
	margin: 100px auto;
	padding: 70px;
	max-width: 1440px;
	border-radius: 125px;
}

.resume__block {
	margin-bottom: 45px;
}

/* End General styles */

/* Start Head Content styles */

.head-content__photo {
	border-radius: 87px;
	max-width: 100%;
}

/* End Head Content styles */